 body{
    background-image: url("/Imagens/folhas.png");
  
    
 }

 header {
    width: 65%;
    margin: auto;
    height: 180px;
    background-image: url("/Imagens/paisagem.png"); 
    background-position: center; 
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 12px;
    text-align: center;
    color: olive;
    }
    
 

nav{
    font-size: 50px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

 a:link, a:visited {
    background-color: white;
    color: DarkOliveGreen;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color:DarkOliveGreen;
    border-radius:7px;
    font-size:40%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
  }
a:hover, a:active {
    background-color: DarkKhaki;
  }
.conteudo{
      margin: auto;
      background-size: auto;
      padding: 15px;
      text-align: left;
      
  }

.imagem-home{
    padding-left: 12px;
    padding: right 12px;
    margin: auto;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

.img{
    display: flex;
    justify-content: ce;
    margin: auto;
    padding-top: 8px;
    text-align: center;
  
  }
.principal{
    margin: auto; 
    padding-top: 5px;
    text-align: left;
    padding-bottom: 5px;

  }



.menu{
    text-align: center;
    color: rgb(0, rgb(24, 80, 24), 0);
 }
 
.mapa{
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
section {
  background: linear-gradient(#518351, #acf8ac);;
  width: 65%;
  margin: auto;
  padding-top: 12px;

}


.info{
    margin-left: 20px;
    font-family: 'Comic Sans MS';

}

    

footer {
    width: 65%;
    background: #548B54;
    font-family: "Verdana", serif;
    font-size: 14px; 
    text-align: center; 
    margin: auto; 
    padding-top: 5px;
    padding-bottom: 5px;
}
.video{
    display: block;
    text-align: center;
    margin: auto;
}
h1{
  font-family: 'Comic Sans MS';
}

h3{
  font-family: 'Comic Sans MS';
  
}

p{
  font-family: Comic Sans MS;
}

.passaro{
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
ul{
  padding-bottom: 20px;
  margin-bottom: 0px;
}

ol{
  margin-bottom: 0px;
}

.textarea{
  display: block;
  text-align: center;
}

.tabela{
  display: block;
  text-align: center;
  padding-left: 250px;
  padding-bottom: 20px;
}